<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <button mat-raised-button>Logout</button>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon>
    </button>
  </mat-toolbar>
