table {
  width: 100%;
}

.mat-row:hover {
  background-color: #ddd;
  cursor: pointer;
}

mat-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}