<h1>New Movie</h1>
<form class="row dialog-form" [formGroup]="form">
  <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories$ | async" [value]="category">{{ category.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="col-sm-6 col-md-3">
    <mat-label>Rating</mat-label>
    <input type="number" matInput formControlName="rating">
  </mat-form-field>
  <mat-form-field appearance="fill" class="col-sm-6 col-md-3">
    <mat-label>Year</mat-label>
    <input type="number" matInput formControlName="year">
  </mat-form-field>
  <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imageUrl">
  </mat-form-field>
  <mat-form-field appearance="fill" class="col-sm-12">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
</form>
<div class="d-flex justify-content-end">
  <button mat-button color="warn" mat-dialog-close name="cancel">Cancel</button>
  <button mat-button color="primary" [disabled]="form?.invalid" name="save" (click)="save()">Save</button>
</div>