<div class="row">
  <div *ngFor="let movie of movies$ | async" class="col-sm-8 col-md-6 col-lg-4 col-xl-3 p-2">
    <mat-card class="example-card">
      <mat-card-header>
        
        <mat-card-title>Titulli: {{ movie.name }}</mat-card-title>
        <mat-card-subtitle>Rating: {{ movie.rating }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="movie.imageURL" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Description: {{ movie.description }}</p>
        
        <p>Kategoria: {{ movie.category.name }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn btn-primary">Like</button>
        <button mat-button class="btn btn-primary">Edit</button>
        <button mat-button class="btn btn-danger">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>