<form class="d-flex" [formGroup]="form">

  <mat-form-field class="flex-grow-1 col-md-6">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Ex. ium" formControlName="filter"> <!-- (keyup)="applyFilter($event)" -->
  </mat-form-field>

  <mat-form-field appearance="legacy" class="col-md-5">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let category of categories$ | async" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button color="primary">
    <mat-icon>search</mat-icon>
  </button>
</form>
<div class="row">
  <div *ngFor="let movie of movies$ | async" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2">
    <mat-card class="w-auto">
      <mat-card-title class="mb-4">{{ movie.name }} ({{ movie.year }})</mat-card-title>
      <mat-card-subtitle>Created: {{ movie.createdAt | date: 'dd/MM/YYYY' }}</mat-card-subtitle>
      <img mat-card-image [src]="movie.imageUrl" alt="Photo of a Shiba Inu">
      <div class="mb-2">Kategoria: {{ movie.category.name }}</div>
      <div class="mb-2">Description: {{ movie.description }}</div>
      <div>Rating: {{ movie.rating }}</div>
      <mat-card-actions class="d-flex">
        <button mat-button color="primary" name="edit">Edit</button>
        <button mat-button color="warn" name="delete">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<button mat-fab class="orange" (click)="add()">
  <mat-icon>create</mat-icon>
</button>