.example-card {
    max-width: 400px;
  }

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

input :hover{
    background: none !important;
}

.mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  word-break: break-all; // IE Fallback
  word-break: break-word;
  .mat-card-actions {
    margin-top: auto;
  }
}

mat-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}