<!--<img src="assets/img/cinema.webp" alt="">-->
<div class="bg-image">
  <mat-card  style="width: 18rem;">
    <h3 class="p-login">Cinema App</h3>
    <form *ngIf="loginForm !== undefined && loginForm !== null" class="d-flex flex-column p-4" [formGroup]="loginForm" (submit)="login()">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input type="email" autocomplete="email" matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" autocomplete="current-password" matInput placeholder="Enter your password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required!</mat-error>
      </mat-form-field>
      <div class="display">
        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </mat-card>
</div>