<h1>{{ selectedTheater ? 'Edit' : 'New' }} Theater</h1>
<form class="row" [formGroup]="form">
    <mat-form-field appearance="fill" class="col-sm-6">
        <mat-label>Theater number</mat-label>
        <input matInput type="number" formControlName="number" autocomplete="off">
        <mat-error *ngIf="form.get('number')?.hasError('required')"><span class="font-weight-bold">Number</span> is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-6">
        <mat-label>Capacity</mat-label>
        <input matInput type="number" formControlName="capacity" autocomplete="off">
        <mat-error *ngIf="form.get('capacity')?.hasError('required')"><span class="font-weight-bold">Capacity</span> is required!</mat-error>
    </mat-form-field>
</form>
<div class="d-flex justify-content-end">
    <button mat-button mat-dialog-close name="cancel">Cancel</button>
    <button mat-button color="primary" [disabled]="form?.invalid || form?.pristine" (click)="form.valid && onSaveFn && onSaveFn(form.value)" name="save">Save</button>
</div>