<div class="row px-2 pb-2">
  <div *ngFor="let category of categories; index as i;" class="col-sm-6 col-md-4 col-lg-3 col-xl-2 px-2 pb-3">
    <mat-card class="w-auto">
      <mat-card-title class="mb-4">{{ category.name }}</mat-card-title>
      <mat-card-subtitle class="mb-0">Created: {{ category.createdAt | date: 'dd/MM/YYYY' }}</mat-card-subtitle>
      <mat-card-actions class="d-flex">
        <button  mat-button  color="primary" class="px-0" name="edit" (click)="updateCategory(category, i)">Edit</button>
        <button mat-button color="warn" name="delete" (click)="deleteCategory(category)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="isLoading">Loading</div>
<div class="d-flex align-items-end flex-column  ">
  <div class="p-2">
    <button mat-fab [disabled]="isLoading" (click)="createCategory()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
