<form class="d-flex">
  <button type="button" class="btn btn-success mr-3" (click)="add()">Create</button>
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-success" type="submit">Search</button>
</form>
<hr>
<div class="row">
  <div *ngFor="let category of categories$ | async" class="col-sm-6 col-md-4 col-lg-3 col-xl-2 p-2">
    <mat-card class="w-auto">
      <mat-card-title>{{ category.name }}</mat-card-title>
      <mat-card-subtitle>Created: {{ category.createdAt | date: 'dd/MM/YYYY' }}</mat-card-subtitle>
      <div class="d-flex justify-content-between">
        <button  mat-button  color="primary" class="px-0" name="edit">Edit</button>
        <button mat-button color="warn" name="delete">Delete</button>
      </div>
    </mat-card>
  </div>
</div>