@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

:root {
    --mat-primary: #{mat-color($primary)};
    --mat-accent: #{mat-color($accent)};
    --mat-warn: #{mat-color($warn)};
    --mat-success: #{mat-color(mat-palette($mat-green))};
}
.primary-background {
    background-color: var(--mat-primary);
}
.accent-background {
    background-color: var(--mat-accent);
}
.warn-background {
    background-color: var(--mat-warn);
}
.success-background {
    background-color: var(--mat-success);
}
.primary-color {
    color: var(--mat-primary);
}
.accent-color {
    color: var(--mat-accent);
}
.warn-color {
    color: var(--mat-warn);
}
.success-color {
    color: var(--mat-success);
}
.white-color {
    color: white;
}