.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer {
  width: 200px;
}
.sidenav {
  .mat-toolbar {
    background-color: inherit;
    color: rgba(0, 0, 0, .8);
  }
  .mat-nav-list .mat-list-item {
    color: #444;
    line-height: 1px; // Fix visual bug
    &.active {
      color: var(--mat-warn);
    }
    .mat-icon {
      margin-right: 12px;
    }
  }
}
.main-content {
  max-height: calc(100vh - 64px - 52px - 1px); // 64px is height of header toolbar, 52px is footer, 1px is the divider
}