<div class="d-flex flex-column min-vh-100">
   <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <div class="example-button-row">
            <button mat-raised-button>Logout</button>
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>


    <mat-drawer-container class="flex-grow-1">
        <mat-drawer mode="side" opened>
            <mat-nav-list class="pt-0">
                <a mat-list-item routerLink="/home/movies" routerLinkActive="active">Movies</a>
                <a mat-list-item routerLink="/home/categories" routerLinkActive="active">Category</a>
                <a mat-list-item routerLink="/home/schedules" routerLinkActive="active">Schedules</a>
                <a mat-list-item routerLink="/home/theaters" routerLinkActive="active">Theateres</a>
            </mat-nav-list>

        </mat-drawer>
        <mat-drawer-content class="p-4">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>

    <mat-divider></mat-divider>
    <footer class="py-3 px-4">
        &copy; All rights reserved 2021
    </footer>
</div>
